<footer class="footerCol bg-black py-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 py-2">
            <p class="float-end text-primary"><a (click)="scrollTop()"><i class="far fa-arrow-alt-circle-up fa-2x"></i></a></p>
            <p class="text-white"><a href="#">Privacy</a> · <a href="#">Terms</a></p>
            <p class="text-white text-center">&copy; Copyrights | All Rights Reserved | {{thisYear}} | Blog App Inc. </p>
        </div>
      </div>
    </div>
</footer>