<!-- <p>about-us works!</p> -->

<div class="container bg-image my-5 rounded-3 p-3 shadow">

  <section class="py-5  container">
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="fw-light text-center">About Us</h2>
        <div class="d-flex">
        <div class="col-md-6 px-3">
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      </div>
      <div class="col-md-6 px-5">
        <p class="lead text-muted"><i class="fas fa-mobile-alt"></i>&nbsp; Mobile No: +919903885121 </p>
        <p class="lead text-muted"><i class="far fa-envelope-open"></i>&nbsp; E-mail: suman@mail.com</p>
        <p class="lead text-muted"><i class="fas fa-map-marker-alt"></i>&nbsp; Locate Us: 30 Aulike St. <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Suite 105 <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kailua, Hawaii 96734</p>
        </div>
      </div>
      </div>
    </div>
    <hr class="featurette-divider">
  </section>
  
  <h2 class="fw-light text-center">Contact Us</h2>
  <div class="container col-lg-8 col-md-10 mx-auto">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address:</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <label for="exampleFormControlInput1" class="form-label">Select query subject:</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>Select</option>
      <option value="Technology">Technology Related</option>
      <option value="Nature">Nature Related</option>
      <option value="Animal">Animal Related</option>
    </select>
    <br>
    <label for="exampleFormControlInput1" class="">Are you a member?</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">Yes</label>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Elaborate here:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
