<!-- <p>nav-bar works!</p> -->

<header class="container-fluid bg-dark shadow-lg p-2 mb-2 fixed-top bgcolor">
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand text-light" routerLink="/">Blog Post App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-light navbar-toggler-right"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-end nav-pills nav-fill">
          <li class="nav-item " style="width: 6.5rem;">
            <a class="nav-link text-ligh" routerLinkActive="text-warning" aria-current="page" routerLink="/index">Home</a>
          </li>
          <li class="nav-item" style="width: 6.5rem;">
            <a class="nav-link text-ligh" routerLinkActive="text-warning" routerLink="/about">About Us</a>
          </li>
          <li class="nav-item" style="width: 12.5rem;">
            <a class="nav-link active text-light" aria-current="page" (click)="isFormLogin()">Login/Sign Up with &nbsp;<i class="fab fa-google"></i></a>
          </li>
          <li class="nav-item" style="width: 40px;">
            <a class="nav-link text-light" href="https://www.facebook.com/facebook" tabindex="-1" aria-disabled="true"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item" style="width: 40px;">
            <a class="nav-link text-light" href="https://twitter.com/Twitter" tabindex="-1" aria-disabled="true"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item" style="width: 40px;">
            <a class="nav-link text-light" href="https://www.instagram.com/instagram/" tabindex="-1" aria-disabled="true"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<br>
<br>
  

